#page-content {
	margin-top: 40px;
}

#about-page-content-block {
	margin-top: 20px;
	width: 50%;
	margin-bottom: 60px;
	height: 930px;
}

#about-page-photo-block {
	margin-left: 60%;
	margin-top: -1023px;
}

#bio-link {
	margin-top: 15px;
}