#about-wrapper {
	margin-top: 40px;
	width: 1000px;
	margin-left: 8%;
}

#left-content {
	float: left;
}

#right-content {
	float: right;
	width: 350px;
	margin-top: 75px;
}

#about-paragraphs {
	margin-top: 20px;
	width: 570px;
	margin-bottom: 30px;
	height: 900px;
}

#bio-link {
	margin-top: 15px;
}