* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
	padding: 0px;
	margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666666;
    background-image: url("../img/debut_light.png");
}

::selection {
    color: #ffffff;
    background: #4267b3; /* Safari */
}

::-moz-selection {
    color: #ffffff;
    background: #4267b3; /* Firefox */
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #4267b3;
}

a:hover {
    color: #aaaaaa;
}

li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul, p {
    margin: 0px;
    padding: 0px;
}

.titles {
    font-family: 'Lora', serif;
    font-weight: 400;
}

.page-smalltitles {
    font-size: 1.2em;
}

.page-titles {
    margin-left: 8%;
    font-size: 1.5em;
}

.headings {  
    font-size: 1.3em;
}

.highlight-color {
    color: #b34252;
}

.border {
    border: 1px #d9d9d9 solid;
}

.button {
    background-color: #4267b3;
    color: #ffffff;
    padding: 5px 40px;
    font-size: 0.9em;
    border: 1px #4d4d4d solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url(/css/border-radius.htc);
    border-radius: 5px;
}

.content-block {
    border: 1px #ebebeb solid;
    background-color: #ffffff;
    font-size: 0.95em;
    padding: 15px;
    line-height: 1.4em;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff)";
    background: transparent\9;
}

.navbar-wrapper {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 75px;    
    background-color: #3b3a3f;
}

.navbar-bottom {
    padding: 0px;
    margin: 0px;
    height: 7px;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.2);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";
    background: transparent\9;
}

.navbar-inside {
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    margin-left: 8%;
    float: left;
    margin-top: 6px;
    border: none;
}

.navbar-inside ul {
    margin-right: 8%;
    float: right;
    margin-top: 40px;
}

.navbar-inside li {
    font-size: 1.05em;
    letter-spacing: 0.05em;
    display: inline;
    text-transform: uppercase;
    padding-left: 13px;
}

.navbar-inside li a {
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
}

.navbar-inside li a:hover, .selected {
    background-color: #717176;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url(/css/border-radius.htc);
    border-radius: 5px;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(113, 113, 118);
    /* RGBa with 0.6 opacity */
    background: rgba(113, 113, 118, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99717176, endColorstr=#99717176);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99717176, endColorstr=#99717176)";
    background: transparent\9;
}

#page-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    margin-top: 50px;
}

.content-subtitle {
    margin-left: 8%;
    margin-top: 5px;
}

.wrapper {
    height: 100%;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -42px;
}

.push {
    clear: both;
    height: 42px;
}

.copyright  {
    font-size: 0.8em;
    margin-top: 8px;
    margin-left: 8%;
}

.footer {
    clear: both;
    height: 35px;
    background-color: #e7e7e7;
    border-top: 7px #cecece solid;
}
