#page-content {
	margin-top: 40px;
}

#contact-page-content-block {
	margin-left: 8%;
	margin-top: 20px;
	margin-right: 8%;
	height: 290px;
	padding-bottom: 15px;
	background-color: #e7e7e7;
	border-left: 1px #ebebeb solid;
	border-top: 1px #ebebeb solid;
	border-bottom: 1px #ebebeb solid;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(231, 231, 231);
    /* RGBa with 0.6 opacity */
    background: rgba(231, 231, 231, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fe7e7e7, endColorstr=#7fe7e7e7);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fe7e7e7, endColorstr=#7fe7e7e7)";
    background: transparent\9;
}

#form {
	float: left;
	width: 45%;
}

#sent-message {
	margin-top: 15px;
	margin-left: 15px;
}

#contactform {
	margin-left: 35%;
}

#form-labels {
	float: left;
	width: 30%;
	margin-top: 15px;
	margin-left: 15px;
	height: 100%;
}

#form-labels li {
	font-size: 0.95em;
	margin-bottom: 30px;
}

.form-text {
	vertical-align: top;
	margin-right: 15px;
	color: #909090;
	width: 200px;
	height: 35px;
	padding-left: 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 0.9em;
    background-color: #ffffff;
    border: 1px #ebebeb solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url(../css/border-radius.htc);
    border-radius: 5px;
}

label.error {
	color: #b34252;
	font-size: 0.7em;
}

.form-text-wrapper {
	margin-top: 15px;
}

#message {
	height: 115px;
	resize: none;
	overflow: auto;
}

#submit-btn {
	width: 115px;
	height: 30px;
	margin-top: 15px;
}

#info {
	float: right;
	width: 47%;
	height: 275px;
	border-top: 0px;
}

#contactpage-labels {
	float: left;
	width: 25%;
}

#contactpage-content {
	float: right;
	width: 75%;
}

#map-btn {
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
}