#page-content {
	margin-top: 40px;
}

#contact-page-content-block {
	margin-left: 8%;
	margin-top: 20px;
	margin-right: 8%;
	height: 335px;
	padding-bottom: 15px;
	background-color: #ffffff;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fe7e7e7, endColorstr=#7fe7e7e7)";
    background: transparent\9;
}

#info {
	height: 320px;
}

#left-contact {
	float: left;
	width: 46%;
}

#right-contact {
	float: right;
	width: 46%;
}

.contactpage-labels {
	position: absolute;
	margin-top: 20px;
}

.contactpage-content {
	margin-top: 20px;
	margin-left: 170px;
}

#map-btn {
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
}