#headline-wrapper {
    background-color: #f3f3f3;
    width: 100%;
    height: 275px;
    border-bottom: 1px #ebebeb solid;
}

#headline-inside { 
    width: 1000px;       
    margin-left: 8%;
}

#headline-text {
    width: 500px;
    float: left;
}

#headline-top {
    font-family: 'LoraItalic';
    padding-top: 80px;
    font-style: italic;
    font-weight: 300;
    font-size: 3em;
}

#headline-second {
    font-size: 2.3em;
}

#home-photo {
    width: 475px;
    float: right;
    margin-top: 15px;
}

#home-content {
    width: 1000px;
    padding-top: 20px;
    margin-left: 8%;
}

#contact-home {
    float: left;
}

#about-home {
    float: right;
}

#contact-content-block {
    margin-top: 5px;
    width: 420px;
    height: 145px;
}

#contact-labels {
    float: left;
    width: 60px;
}

#contact-info {
    float: right;
    width: 300px;
}

#about-content-block {
    margin-top: 5px;
    width: 445px;
    height: 145px;
}