#resources-wrapper {
	margin-top: 40px;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

#resources-paragraphs {
	margin-right: 8%;
	margin-left: 8%;
	margin-top: 20px;
	height: 200px;
}

#resources-left {
	float: left;
	width: 46%;
}

#resources-paragraphs li {
	margin-bottom: 40px;
}

#resources-right {
	float: right;
	width: 46%;
}

.article-title {
	margin-bottom: 10px;
    font-weight: 600;
    color: #4267b3;
}